<div>
    Search : <input type="text" name="search" id="search" ng-model="search" autofocus placeholder="Type True/False">
    <button ng-click="getBySearch()">Search</button><br>
    <table>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Plays</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr ng-repeat="res in results">
            <td>{{ res.id }}</td>
            <td>{{ res.name }}</td>
            <td>{{ res.plays }}</td>
            <td style="color: crimson; cursor: pointer; font-size: 10px; font-weight: bolder" ng-click=delete()>&nbsp;&nbsp;&#9587;&nbsp;&nbsp;</td>
        </tr>
    </table>
</div>